{{>layout/header}}

<h1>스프링부트로 시작하는 웹 서비스 Ver.2 !!!</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <!-- 스프링에서 기본적으로 제공하는 logout URL / SecurityConfig 클래스에서 변경 가능 -->
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <!-- 스프링에서 기본적으로 제공하는 로그인 URL -->
                <!-- /oauth2/authorization 까지는 고정이고 마지막 Path는 소셜 로그인 코드를 명시해야 한다. -->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>

                <!--  네이버 로그인 URL은 application-oauth.properties의 redirect-uri 값에 맞춰서 자동으로 등록된다.  -->
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>
{{>layout/footer}}