name: CI
on: push
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      # 체크아웃
      - uses: actions/checkout@v3

      # 자바 설정
      - name: Setup JDK 11 temurin
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"

      # 그레이들 세팅
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      # 그레이들 실행
      - name: Execute Gradle build
        run: ./gradlew clean build

      - name: Compress current directory
        run: zip -r springboot2-webservice *

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-northeast-2

      - name: List files
        run: ls -al

      - name: Copy zip file to the S3
        run: aws s3 cp springboot2-webservice.zip s3://freelec-springboot-s3