name: CI
on: push
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      # 체크아웃
      - uses: actions/checkout@v3

      # 자바 설정
      - name: Setup JDK 11 temurin
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"

      # 그레이들 세팅
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      # 그레이들 실행
      - name: Execute Gradle build
        run: ./gradlew clean build
